section#challenges {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    margin-top: 300px;
    position: relative;
}

section#challenges img.books-logo {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -300px;
    right: -150px;
    opacity: 0.2;
}

.header {
    margin-bottom: 60px;
}

section#challenges .header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    color: #333;
}

.bold {
    font-weight: 700;
}

section#challenges .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.left-column, .right-column {
    width: 25%;
    padding: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.center-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.triangle-image {
    width: 1000px;
    height: 750px;
}

.triangle-marker {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #8DD8D8;
    margin: 0 auto;
    margin-bottom: 15px;
}

.triangle-marker.dark {
    border-top-color: #0A3B5B;
}

.content h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: #333;
}

.content h2.proactive::after {
    content: '';
    position: absolute;
    top: 75px;
    right: -100px;
    width: 100px;
    height: 1px;
    background-color: black;
}

.content h2.proactive::before {
    content: '';
    position: absolute;
    top: 113px;
    right: -240px;
    width: 150px;
    height: 1px;
    background-color: black;
    transform: rotate(30deg);
    z-index: 1;
}

.left-column .round {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 150px;
    right: -236px;
    z-index: 1;
}

.content h2.crisis::after {
    content: '';
    position: absolute;
    top: 300px;
    right: 150px;
    width: 1px;
    height: 100px;
    background-color: black;
}

.content h2.crisis::before {
    content: '';
    position: absolute;
    top: 275px;
    right: 367px;
    width: 1px;
    height: 500px;
    background-color: black;
    transform: rotate(60deg);
    z-index: 1;
}

.right-column .round {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 648px;
    right: 583px;
    z-index: 1;
}

.content ul {
    list-style: none;
}

.content li {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 20px;
}

@media (max-width: 1250px) {
    .round {
        display: none;
    }

    .content h2.proactive::after {
        display: none;
    }

    .content h2.proactive::before {
        display: none;
    }

    .content h2.crisis::after {
        display: none;
    }

    .content h2.crisis::before {
        display: none;
    }
}

@media (max-width: 880px) {
    section#challenges {
        margin-top: 100px;
    }

    section#challenges .content {
        display: block;
    }

    .left-column {
        width: auto;
    }

    .right-column {
        width: auto;
    }

    .triangle-image {
        display: none;
    }
}
