@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Yaldevi:wght@200..700&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    display: block;
    margin: 0 auto;
}

/* Section Vision */
section#vision {
    margin: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #0f293d;
    text-transform: uppercase;
    border: 1px solid #0f293d;
    padding: 7px 12px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
}

nav ul li a.active {
    color: white;
    background-color: #0f293d;
}

nav ul li a.free_resources {
    color: white;
    background-color: #215ca8;
    border: none;
}

section#vision hr {
    height: 1px;
    background-color: #0f293d;
}

div.explanations {
    display: flex;
    justify-content: space-around;
    gap: 250px;
    margin-top: 50px;
}

div.text {
    flex: 2;
}

div.text h1 {
    font-size: 70px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 200;
    margin-bottom: 50px;
}

div.text h2 {
    font-size: 33px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 200;
    margin-top: 25px;
}

div.text h3 {
    font-size: 22px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 200;
}

div.text h3 span {
    font-weight: bold;
}

div.logo {
    width: 500px;
    height: 500px;
    position: relative;
    margin-top: 50px;
}

div.logo img.logo_books {
    position: absolute;
}

div.logo img.logo_triangles {
    position: absolute;
    left: 54px;
    bottom: 159px;
}

div.center-button {
    display: block;
    text-align: center;
    margin-top: 50px;
}

a.button_diagnostic {
    border: 1px solid gray;
    padding: 15px 20px;
    font-weight: bold;
    color: black;
    font-family: "Gothic A1", sans-serif;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
}

a.button_diagnostic svg {
    position: relative;
    top: 5px;
    color: #4cb9d3;
}


/* Media Queries */
@media (max-width: 1600px) {
    div.explanations {
        gap: 100px;
    }
}

@media (max-width: 1250px) {
    section#vision {
        margin: 50px 20px;
    }

    nav {
        display: block;
    }

    nav div img {
        display: block;
        margin: 0 auto;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    div.text h1 {
        text-align: center;
    }

    div.logo {
        display: none;
    }
}

@media(max-width: 600px) {
    a.button_diagnostic {
        width: 100%;
        font-size: 17px;
    }

    a.button_diagnostic svg {
        display: none;
    }
}

@media (max-width: 540px) {
    nav ul {
        display: block;
    }

    nav ul li {
        margin: 25px 0px;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 7px 0px;
    }

    a.button_diagnostic {
        width: 100%;
        font-size: 14px;
    }
}