@font-face {
    font-family: 'Gotham';
    src: url('/POLICES/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/POLICES/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
}
