// Fonts
@font-face {
    font-family: 'Gotham';
    src: url('../FONTS/Gotham-Bold.otf') format('opentype'),
         url('../FONTS/Gotham-Bold.ttf') format('truetype'),
         url('../FONTS/Gotham-Light.woff') format('woff'),
         url('../FONTS/Gotham-Light.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Gotham';
    src: url('../FONTS/Gotham-Light.otf') format('opentype'),
         url('../FONTS/Gotham-Light.ttf') format('truetype'),
         url('../FONTS/Gotham-Light.woff') format('woff'),
         url('../FONTS/Gotham-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Dune";
    src: url("../FONTS/Dune_Rise.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}