// Fonts
@font-face {
    font-family: 'Gotham';
    src: url('../FONTS/Gotham-Bold.ttf') format('truetype'),
        url('../FONTS/Gotham-Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../FONTS/Gotham-Light.ttf') format('truetype'),
        url('../FONTS/Gotham-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Dune";
    src: url("../FONTS/Dune_Rise.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}