footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Gotham", sans-serif;
    font-weight: 300;
    background-color: #0F283D;
    padding: 25px;
    color: white;
    line-height: 2;
    text-align: center;
    gap: 50px;
    font-size: 14px;

    .logo-container {
        flex: 1;

        img {
            width: 200px;
            height: 50px;
        }
    }

    .legal-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        a {
            text-decoration: none;
            color: white;
            flex: 1;
            font-size: 12px;
        }
    
        p {
            flex: 1.5;
            font-size: 12px;
        }
    }
}

@media (max-width: 1200px) {
    footer {
        justify-content: space-around;

        .logo-container {
            flex: 0;
        }

        .legal-container {
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        gap: 20px;
    }
}
