@use 'fonts';
@use 'header';
@use 'vision';
@use 'accompaniement';
@use 'about';
@use 'contact'; 
@use 'footer';
@use 'terms';

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
} 

/* Body style when menu is open */
body.menu-open {
    overflow: hidden;
}