/* Section Vision */
section#vision {
    position: relative;

    /* Content */
    .vision-container {
        position: relative;
        overflow: hidden;
        margin-right: 100px;
        padding: 150px 0px;

        /* Logo triangulaire */
        .triangle-logo {
            position: absolute;
            left: -70%;
            bottom: 0;
            width: 100%;
            z-index: 0;
            pointer-events: none;
            /* Pour une fin d'animation avec opacity: 0.95 comme dans notre @keyframes original */
            &[data-aos="fade-up"].aos-animate {
                opacity: 0.95;
            }
        }

        .content-container {
            position: relative;
            z-index: 1;
            max-width: 1100px;
            margin: 0 0 0 auto;

            .vision-title {
                font-family: 'Gotham', sans-serif;
                color: black;
                font-size: 42px;
                font-weight: 300;
                text-align: right;
                margin-bottom: 10px;
                letter-spacing: 1px;
            }
        
            .separator {
                border: none;
                height: 1px;
                background-color: black;
                margin: 20px 0 40px;
            }
        
            .vision-content {
                padding: 0 20px;

                .blue-box {
                    background-color: #1a5da0;
                    margin-bottom: 20px;
            
                    h2 {
                        color: white;
                        font-size: 30px;
                        font-weight: 300;
                        font-family: 'Gotham', sans-serif;
                    }
                }
            
                h3 {
                    color: black;
                    font-size: 30px;
                    font-weight: 300;
                    font-family: 'Gotham', sans-serif;
                    margin-bottom: 20px;
                }
            
                .description {
                    color: black;
                    font-size: 20px;
                    margin-bottom: 20px;
                    font-weight: 300;
                    font-family: 'Gotham', sans-serif;
                    text-align: justify;

                    .blue-color {
                        color: #0063A1;
                        font-weight: bold;
                    }
                }
            
                .bold-text {
                    margin: 30px 0;
            
                    p {
                        color: black;
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        font-family: 'Gotham', sans-serif;
                    }
                }
            }

            .button-container {
                margin-top: 40px;
            }
        }
    }
}

/* Media Queries */
@media screen and (max-width: 1640px) {
    section#vision {
        .vision-container {
            .content-container {
                max-width: 900px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    section#vision {
       
        .vision-container {
            margin: 0 100px;
            
            .triangle-logo {
                display: none;  
            }
            
            .content-container {
                max-width: none;
                max-width: 800px;
                
                .vision-title {
                    font-size: 34px;
                }
                
                .vision-content {
                    margin-top: 60px;
                }
                
                .blue-box h2,
                h3 {
                    font-size: 20px;
                }
                
                .description,
                .bold-text p {
                    font-size: 16px;
                }
                
                .gradient-background img {
                    position: absolute;
                    left: -50%;
                    top: 0;
                }
            }
        }
        
        .vision-header h1 {
            font-size: 36px;
            text-align: center;
        }
        
        .blue-banner h2 {
            font-size: 20px;
            text-align: center;
        }
        
        .vision-text {
            h3 {
                font-size: 20px;
                text-align: center;
            }
            
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section#vision {

        .vision-container {
            padding: 50px 0px;
            margin: 0 50px;

            .vision-title {
                font-size: 36px;
                text-align: center;
                padding-right: 0;
            }
            
            .triangle-logo {
                left: -85%;
                width: 140%;
            }
            
            .content-container {
                .vision-title {
                    font-size: 28px;
                    text-align: center;
                }

                .vision-content {
                    margin-top: 40px;
                    padding: 0;
                    
                    .blue-box {
                        h2 {
                            font-size: 20px;
                        }
                    }
                    
                    h3 {
                        font-size: 20px;
                    }
                    
                    .description {
                        font-size: 15px;
                        text-align: justify;
                    }
                    
                    .bold-text {
                        p {
                            font-size: 15px;
                            text-align: justify;
                        }
                    }
                    
                    .button-container {
                        text-align: center;
                    }
                }
            }
        }
        
        .blue-banner {
            padding: 20px;
        }
        
        .button-control {
            width: 100%;
            justify-content: center;
            text-align: center;
            padding: 12px 20px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 600px) {
    section#vision {       
        .vision-container {
            .content-container {
                .vision-title {
                    font-size: 28px;
                }
                
                .vision-content {
                    .blue-box {
                        h2 {
                            font-size: 18px;
                        }
                    }
                    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
            
            .triangle-logo {
                left: -120%;
                width: 200%;
            }
        }
    }
}

@media screen and (max-width: 480px) {    
    section#vision {
        .vision-container {
            .content-container {
                .vision-title {
                    font-size: 28px;
                }
                
                .vision-content {
                    .blue-box {
                        h2 {
                            font-size: 18px;
                        }
                    }
                    
                    h3 {
                        font-size: 18px;
                    }
                }
            }
            
            .triangle-logo {
                left: -120%;
                width: 200%;
            }
        }
    }
}