# Permettre de traiter les URL avec /EN, /ES ou /PT comme une page réelle
RewriteEngine On

# Si l'URL se termine par /EN, /ES ou /PT, rediriger vers le même URL sans le suffixe mais en gardant le marqueur de langue
RewriteRule ^(.*)\/EN$ $1 [L,QSA]
RewriteRule ^(.*)\/ES$ $1 [L,QSA]
RewriteRule ^(.*)\/PT$ $1 [L,QSA] 